/********logo**********/
.main .logo #logo{margin-top:10px;}
.main .logo input{height:34px;margin-top: 60px;border: 3px solid #d7b657;}
.main .logo span{width:40px;height: 40px;font-size:14px;line-height:40px;margin-top: 60px;}
.main .logo .code{height: 70px;margin-top:40px;margin-left: 30px;}
.main .logo .code h4{font-size:20px;margin-top: 7px;}
/********nav**********/
.main .nav{height: 60px;}
.main .nav ul li{font-size: 20px;line-height:60px;border: 1px dotted #aaa;box-sizing: border-box;}
.main .nav ul:before{width: 0;height: 0;}
.main .nav ul:after{width: 0;height: 0;}
.main .banner{top:-20px}

/*****.main .recommend .recommendToday*****/
.main .recommend .recommendToday ul li.todayBig .todayBigIntro .todayBigIntroOne h1{font-size:26px;}
.main .recommend .recommendToday ul li.todayBig .todayBigIntro .todayBigIntroTwo{opacity: 1;top: 0;}
.main .recommend .recommendToday ul li.todayBig .todayBigIntro:hover>.todayBigIntroOne{opacity: 0;z-index:-1;}
.main .recommend .recommendToday ul li.todayBig .todayBigIntro .todayBigIntroTwo ul li{line-height:50px;padding-left:20px;box-sizing:border-box;}
.main .recommend .recommendToday ul li.todayLitter .todayLitterTwo ul li{line-height: 30px;padding-left:10px;box-sizing:border-box;}
.main .recommend .recommendToday ul li.todayBig .todayBigIntro .todayBigIntroTwo span{line-height:30px;}
.main .recommend .recommendToday ul li.todayLitter .todayLitterTwo span{line-height: 20px;}

/*****.main .recommend .recommendSep******/
.main .recommend .recommendSep .sepContent a{margin-right:5px;margin-bottom: 6px;}
/*****.main .recommend .recommendOld******/
.main .recommend .recommendOld .OldContent a{margin-bottom:15px;float: left;margin-left: 7px;}
.main .recommend .recommendOld .OldContent a.oldpic1{width: 30%;height: 100%;float: left;margin: 0;}
.main .recommend .recommendOld .OldContent a span{bottom:0%;left:100%;opacity: 1;}
.main .recommend .recommendOld .OldContent a:hover>span{left: 0;}
.main .footer{height: 220px;}
.main .footer .footerTop{padding-bottom: 14px;margin-bottom: 14px;}
.main .footer .footerTop{width: 100%;margin: 0 auto;height: 160px;padding: 0 10%;border-bottom: 1px dotted #444;padding-bottom: 1rem;margin-bottom: 1rem;}
.main .footer .footerTop ul{width:35%;height:150px;float: left;margin-left: 50px;}
.main .footer .footerTop .footerTopTxt{width: 20%;height: 90%;margin-top: 20px;float: left;margin-left: 20px;}
